.featured-product {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.product-card.hor {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 800px;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.pcontent {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    color:var(--gray);
    flex: 1;
}

.pthumb {
    width: 250px;
    height: 250px;
    background: #f2ffd9;
    border: 10px solid #fff;
}

.product-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
}

.ptitle {
    font-size: 22px;
    font-weight: 800;
}

.partist {
    font-size: 14px;
    color: #777;
}

.pprice {
    margin-top:10px;
    font-weight:800;
}

#btn-comprar {
    padding: 10px 160px;
    background: #7d3cf8;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}



